In [1]:
import pandas
import numpy

## Hybrid sample

In [2]:
filepath = 'D:/BG/Data/Processing/4_data.txt'
data = pandas.read_csv(filepath, sep='\t')
print(data.shape[0],'job postings in full sample')
hybrid = data[data.plant_5==0]
print(hybrid.shape[0],'job postings in hybrid sample')

3091485 job postings in full sample
212822 job postings in hybrid sample

## Measures

In [22]:
df = hybrid.copy()
df.reset_index(inplace=True,drop=True)
measures = ['Engineering Skills','Operations Skills','Support Skills','General Skills','Job Complexity']
df['Engineering Skills'] = df['research']+df['design']+df['materials']+df['development']
df['Operations Skills'] = df['tools']+df['inventory']+df['production']
df['Support Skills'] = df['business']+df['finance']+df['management']+df['analysis']+df['customer']+df['office']+df['software']
df['General Skills'] = df['cognitive']+df['social']
df['Job Complexity'] = df['complexity']

## Zeroes

In [23]:
df['One'] = 1
for m in measures:
  df.loc[m+'_0'] = numpy.nan
  df.loc[df[m]==0,m+'_0'] = 1
measures = [m+'_0' for m in measures]
a = df.groupby(['TECH','occupation'])[measures+['One']].sum()
b = 100*a[measures].div(a.One,axis=0)
b.columns = ['Engineering Skills','Operations Skills','Support Skills','General Skills','Job Complexity']
b = b.T
b = b.swaplevel(0,1,axis=1).reindex(['Manager','Engineer','Technician','Operator'],axis=1,level=0)
b = b.applymap('{:.2f}'.format)
b = b.applymap(lambda x: x + '%')
b.to_excel('OLA-Table3.xlsx')
b

occupation         Manager         Engineer         Technician          \
TECH                    AM      TM       AM      TM         AM      TM
Engineering Skills  49.95%  71.75%   12.29%  35.35%     41.58%  53.75%
Operations Skills   80.33%  83.63%   58.44%  82.03%     40.70%  62.59%
Support Skills       0.00%   0.04%    0.04%   0.11%      0.22%   0.09%
General Skills       8.15%  11.97%    7.73%  15.27%     20.57%  30.98%
Job Complexity       6.93%   9.23%    4.11%   9.61%     21.66%  36.03%

occupation         Operator
TECH                     AM      TM
Engineering Skills   63.98%  72.38%
Operations Skills    57.66%  48.71%
Support Skills        0.19%   0.74%
General Skills       19.54%  39.89%
Job Complexity       24.52%  50.20%